# This is Git's per-user configuration file.
[user]
	name = Justin Chmura
	email = justin.chmura@gmail.com
[github]
	user = justinchmura
[alias]
	s = status -sb
	c = commit
	a = add --all
	
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

	ci = commit -m
	fa = fetch --all --prune
	fo = fetch origin
	ec = config --global --edit
	cb = checkout -b
	pf = push --force

	l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn,\\ %cd]" --date=relative --decorate
	lg = log --graph --full-history --color --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn,\\ %cd]" --date=relative
	lg2 = log --graph --full-history --color --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn,\\ %cd]"
	l5 = log --graph --full-history --color --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn,\\ %cd]" --date=relative -5
	la = log --graph --full-history --color --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%C(cyan)\\ [%cn,\\ %cd]" --date=relative --all

	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend -C HEAD
	
	branches = branches -a

	ds = diff-tree --no-commit-id --name-only -r HEAD~1
	df = diff --ignore-space-at-eol -b -w
	kill = !git reset --hard HEAD && git clean -df
[core]
	editor = vim -f
	autocrlf = true
	excludesfile = C:\\Users\\justinc\\Documents\\gitignore_global.txt
[push]
	default = simple
[color]
	ui = true
[color "branch"]
	current = cyan bold
	local = green
	remote = yellow
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
